<section class="agency">
    <div class="container">
        <h2>Услуги компаний и агентств</h2>
        <a href="javascript:void(0)">Посмотреть все</a>

        <div class="agency__list swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="agency__item">
                        <div class="agency__top">
                            <a href="javascript:void(0)"><img src="img/plan.png" alt="" class="agency__photo"></a>
                            <div class="agency__info">
                                <a href="javascript:void(0)" class="agency__name">
                                    ПланФакт
                                    <img src="img/icons/link.svg" alt="">
                                </a>
                                <div class="agency__stars"><img src="img/stars4.svg" alt=""></div>
                                <div class="agency__text">Начал пользоваться этим сервисом по&nbsp;ркомендации
                                    разработчика
                                    моего интернет магазина и&nbsp;так как открывал интернет магазин впервые, ничего
                                    не&nbsp;знал о&nbsp;данном приложении </div>
                            </div>
                        </div>
                        <div class="agency__body">
                            <div class="agency__col">
                                <div class="agency__title">Услуги</div>
                                <ul class="dot sm">
                                    <li>Интеграция Mango Office</li>
                                    <li>Запуск рекламы в Yandex.Direct</li>
                                    <li>Запуск рекламы в Google.Adwods</li>
                                    <li>Разработка мобильных проложений</li>
                                    <li>Интеграция CRM Bitrix 24</li>
                                </ul>
                            </div>
                            <div class="agency__col">
                                <div class="agency__title">Рекламное агенство </div>
                                <div class="agency__addr">Россия, г. Нижний </div>
                                <div class="freelancers__features">
                                    <div>
                                        <span>
                                            <svg class="icon">
                                                <use xlink:href="img/symbol-defs.svg#icon-message"></use>
                                            </svg>
                                            Отзывы:
                                        </span>
                                        <span>+120 | 2 | -2</span>
                                    </div>
                                    <div>
                                        <span>
                                            <svg class="icon">
                                                <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                                            </svg>
                                            Место в списке:
                                        </span>
                                        <span>3545</span>
                                    </div>
                                    <div>
                                        <span>
                                            <svg class="icon">
                                                <use xlink:href="img/symbol-defs.svg#icon-case"></use>
                                            </svg>
                                            Количество услуг:
                                        </span>
                                        <span>12</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn center">Посмотреть все услуги</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="agency__item">
                        <div class="agency__top">
                            <a href="javascript:void(0)"><img src="img/plan.png" alt="" class="agency__photo"></a>
                            <div class="agency__info">
                                <a href="javascript:void(0)" class="agency__name">
                                    ПланФакт
                                    <img src="img/icons/link.svg" alt="">
                                </a>
                                <div class="agency__stars"><img src="img/stars4.svg" alt=""></div>
                                <div class="agency__text">Начал пользоваться этим сервисом по&nbsp;ркомендации
                                    разработчика
                                    моего интернет магазина и&nbsp;так как открывал интернет магазин впервые, ничего
                                    не&nbsp;знал о&nbsp;данном приложении </div>
                            </div>
                        </div>
                        <div class="agency__body">
                            <div class="agency__col">
                                <div class="agency__title">Услуги</div>
                                <ul class="dot sm">
                                    <li>Интеграция Mango Office</li>
                                    <li>Запуск рекламы в Yandex.Direct</li>
                                    <li>Запуск рекламы в Google.Adwods</li>
                                    <li>Разработка мобильных проложений</li>
                                    <li>Интеграция CRM Bitrix 24</li>
                                </ul>
                            </div>
                            <div class="agency__col">
                                <div class="agency__title">Рекламное агенство </div>
                                <div class="agency__addr">Россия, г. Нижний </div>
                                <div class="freelancers__features">
                                    <div>
                                        <span>
                                            <svg class="icon">
                                                <use xlink:href="img/symbol-defs.svg#icon-message"></use>
                                            </svg>
                                            Отзывы:
                                        </span>
                                        <span>+120 | 2 | -2</span>
                                    </div>
                                    <div>
                                        <span>
                                            <svg class="icon">
                                                <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                                            </svg>
                                            Место в списке:
                                        </span>
                                        <span>3545</span>
                                    </div>
                                    <div>
                                        <span>
                                            <svg class="icon">
                                                <use xlink:href="img/symbol-defs.svg#icon-case"></use>
                                            </svg>
                                            Количество услуг:
                                        </span>
                                        <span>12</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn center">Посмотреть все услуги</a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>