<div class="company__main">
    <div class="company__user">
        <a href="javascript:void(0)">
            <img src="img/woman.png" alt="">
            <div class="company__user-name">Екатерина Князева</div>
        </a>
        <div class="company__user-features">
            <div><span>Специальность:</span> Программист</div>
            <div><span>Отрасль:</span> Приложения</div>
            <div><span>Размер компании:</span> Крупная</div>
        </div>
        <div class="reviews__check"><img src="img/icons/checked.svg" alt=""> Проверенный пользователь</div>
        <div class="reviews__progress">
            <div class="service__progress-item orange">
                <span>Ценность/Деньги:</span>
                <div class="tip-parent">
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span></span>
                    <div class="tip">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed
                        do <br> eiusmod tempor incididunt ut&nbsp;labore <br> et&nbsp;dolore magna aliqua.
                        Ut&nbsp;enim&nbsp;ad</div>
                </div>
            </div>
            <div class="service__progress-item orange">
                <span>Служба поддержки:</span>
                <div class="tip-parent">
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span></span>
                    <div class="tip">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed
                        do <br> eiusmod tempor incididunt ut&nbsp;labore <br> et&nbsp;dolore magna aliqua.
                        Ut&nbsp;enim&nbsp;ad</div>
                </div>
            </div>
            <div class="service__progress-item orange">
                <span>Полезность:</span>
                <div class="tip-parent">
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span></span>
                    <div class="tip">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed
                        do <br> eiusmod tempor incididunt ut&nbsp;labore <br> et&nbsp;dolore magna aliqua.
                        Ut&nbsp;enim&nbsp;ad</div>
                </div>
            </div>
            <div class="service__progress-item orange">
                <span>Функциональность:</span>
                <div class="tip-parent">
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span></span>
                    <div class="tip">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed
                        do <br> eiusmod tempor incididunt ut&nbsp;labore <br> et&nbsp;dolore magna aliqua.
                        Ut&nbsp;enim&nbsp;ad</div>
                </div>
            </div>
            <div class="service__progress-item orange">
                <span>Простота использования:</span>
                <div class="tip-parent">
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span></span>
                    <div class="tip">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed
                        do <br> eiusmod tempor incididunt ut&nbsp;labore <br> et&nbsp;dolore magna aliqua.
                        Ut&nbsp;enim&nbsp;ad</div>
                </div>
            </div>
        </div>
        <a href="javascript:void(0)" class="btn">Посмотреть профиль</a>
    </div>
    <div class="company__body">
        <div class="company__head">
            <img src="img/stars4.svg" alt="">
            <div class="company__date">12.02.2020</div>
        </div>
        <h3>“Я не маркетолог, но люблю HubSport” </h3>
        <div class="company__text">Начал пользоваться этим сервисом по&nbsp;ркомендации разработчика моего
            интрнет магазина и&nbsp;так как открывал интернет магазин впервые, ничего не&nbsp;знал интернет
            магазин впервые, ничего&nbsp;не <a href="javascript:void(0)">Весь текст</a></div>
        <div class="company__text hide">Начал пользоваться этим сервисом по&nbsp;ркомендации разработчика моего
            интрнет магазина и&nbsp;так как открывал интернет магазин впервые, ничего не&nbsp;знал интернет
            магазин впервые, ничего&nbsp;не</div>
        <div class="company__title">Что вам нравится в HubSport?</div>
        <div class="company__text">Начал пользоваться этим сервисом по&nbsp;ркомендации разработчика моего
            интрнет магазина и&nbsp;так как открывал интернет магазин впервые, ничего не&nbsp;знал о&nbsp;такого
            рода сервисах. Но&nbsp;Roistat приятно удивил своим простым и&nbsp;интуитивно понятным интерфесом
            интуитивно понятным интерфесоминтуитивно понятным интем <a href="javascript:void(0)">Весь текст</a>
        </div>
        <div class="company__text hide">Начал пользоваться этим сервисом по&nbsp;ркомендации разработчика моего
            интрнет магазина и&nbsp;так как открывал интернет магазин впервые, ничего не&nbsp;знал интернет
            магазин впервые, ничего&nbsp;не</div>
        <div class="company__title">Что вам нравится в HubSport?</div>
        <div class="company__text">Начал пользоваться этим сервисом по&nbsp;ркомендации разработчика моего
            интрнет магазина и&nbsp;так как открывал интернет магазин впервые, ничего не&nbsp;знал о&nbsp;такого
            рода сервисах. Но&nbsp;Roistat приятно удивил своим простым и&nbsp;интуитивно понятным интерфесом
            интуитивно понятным интерфесоминтуитивно понятным интем <a href="javascript:void(0)">Весь текст</a>
        </div>
        <div class="company__text hide">Начал пользоваться этим сервисом по&nbsp;ркомендации разработчика моего
            интрнет магазина и&nbsp;так как открывал интернет магазин впервые, ничего не&nbsp;знал интернет
            магазин впервые, ничего&nbsp;не</div>
        <div class="company__title">Что вам нравится в HubSport?</div>
        <div class="company__text">Начал пользоваться этим сервисом по&nbsp;ркомендации разработчика моего
            интрнет магазина и&nbsp;так как открывал интернет магазин впервые, ничего не&nbsp;знал о&nbsp;такого
            рода сервисах. Но&nbsp;Roistat приятно удивил своим простым и&nbsp;интуитивно понятным интерфесом
            интуитивно понятным интерфесоминтуитивно понятным интем <a href="javascript:void(0)">Весь текст</a>
        </div>
        <div class="company__text hide">Начал пользоваться этим сервисом по&nbsp;ркомендации разработчика моего
            интрнет магазина и&nbsp;так как открывал интернет магазин впервые, ничего не&nbsp;знал интернет
            магазин впервые, ничего&nbsp;не</div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SMKPKGW083c" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div class="comment">
            <img src="img/woman.png" alt="">
            <div>
                <div class="comment__top">
                    <div class="comment__name">Админ</div>
                    <div class="comment__date">12.02.2020</div>
                </div>
                <div class="comment__text">Начал пользоваться этим сервисом по&nbsp;ркомендации разработчика
                    моего интрнет магазина и&nbsp;так как открывал интернет магазин впервые, ничего не&nbsp;знал
                    интернет магазин впервые, н</div>
            </div>
        </div>
    </div>
</div>