<section class="freelancers">
    <div class="container">
        <h2>Услуги фрилансеров</h2>
        <a href="javascript:void(0)">Посмотреть все</a>

        <div class="freelancers__list swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="freelancers__item">
                        <div class="freelancers__tag">Freelance</div>
                        <div class="freelancers__user">
                            <a href="javascript:void(0)">
                                <img src="img/woman.png" alt="" class="freelancers__photo">
                                <div class="freelancers__name">Екатерина Князева</div>
                            </a>
                            <img src="img/stars4.svg" alt="" class="freelancers__stars">
                        </div>
                        <div class="freelancers__about">
                            <div>Программист Копирайтер </div>
                            <div>Россия, г. Нижний Новгород</div>
                            <div><span class="gray">На сайте:</span> 13 лет, 11 месяцев</div>
                        </div>
                        <div class="freelancers__features">
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-rating"></use>
                                    </svg>
                                    Рейтинг:
                                </span>
                                <span>22356</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-message"></use>
                                    </svg>
                                    Отзывы:
                                </span>
                                <span>34</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                                    </svg>
                                    Место в списке:
                                </span>
                                <span>3545</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-case"></use>
                                    </svg>
                                    Услуги фрилансера:
                                </span>
                                <span>7</span>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn center">Подробнее</a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="freelancers__item">
                        <div class="freelancers__tag">Freelance</div>
                        <div class="freelancers__user">
                            <a href="javascript:void(0)">
                                <img src="img/woman.png" alt="" class="freelancers__photo">
                                <div class="freelancers__name">Екатерина Князева</div>
                            </a>
                            <img src="img/stars4.svg" alt="" class="freelancers__stars">
                        </div>
                        <div class="freelancers__about">
                            <div>Программист Копирайтер </div>
                            <div>Россия, г. Нижний Новгород</div>
                            <div><span class="gray">На сайте:</span> 13 лет, 11 месяцев</div>
                        </div>
                        <div class="freelancers__features">
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-rating"></use>
                                    </svg>
                                    Рейтинг:
                                </span>
                                <span>22356</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-message"></use>
                                    </svg>
                                    Отзывы:
                                </span>
                                <span>34</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                                    </svg>
                                    Место в списке:
                                </span>
                                <span>3545</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-case"></use>
                                    </svg>
                                    Услуги фрилансера:
                                </span>
                                <span>7</span>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn center">Подробнее</a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="freelancers__item">
                        <div class="freelancers__tag">Freelance</div>
                        <div class="freelancers__user">
                            <a href="javascript:void(0)">
                                <img src="img/woman.png" alt="" class="freelancers__photo">
                                <div class="freelancers__name">Екатерина Князева</div>
                            </a>
                            <img src="img/stars4.svg" alt="" class="freelancers__stars">
                        </div>
                        <div class="freelancers__about">
                            <div>Программист Копирайтер </div>
                            <div>Россия, г. Нижний Новгород</div>
                            <div><span class="gray">На сайте:</span> 13 лет, 11 месяцев</div>
                        </div>
                        <div class="freelancers__features">
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-rating"></use>
                                    </svg>
                                    Рейтинг:
                                </span>
                                <span>22356</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-message"></use>
                                    </svg>
                                    Отзывы:
                                </span>
                                <span>34</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                                    </svg>
                                    Место в списке:
                                </span>
                                <span>3545</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-case"></use>
                                    </svg>
                                    Услуги фрилансера:
                                </span>
                                <span>7</span>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn center">Подробнее</a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="freelancers__item">
                        <div class="freelancers__tag">Freelance</div>
                        <div class="freelancers__user">
                            <a href="javascript:void(0)">
                                <img src="img/woman.png" alt="" class="freelancers__photo">
                                <div class="freelancers__name">Екатерина Князева</div>
                            </a>
                            <img src="img/stars4.svg" alt="" class="freelancers__stars">
                        </div>
                        <div class="freelancers__about">
                            <div>Программист Копирайтер </div>
                            <div>Россия, г. Нижний Новгород</div>
                            <div><span class="gray">На сайте:</span> 13 лет, 11 месяцев</div>
                        </div>
                        <div class="freelancers__features">
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-rating"></use>
                                    </svg>
                                    Рейтинг:
                                </span>
                                <span>22356</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-message"></use>
                                    </svg>
                                    Отзывы:
                                </span>
                                <span>34</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                                    </svg>
                                    Место в списке:
                                </span>
                                <span>3545</span>
                            </div>
                            <div>
                                <span>
                                    <svg class="icon">
                                        <use xlink:href="img/symbol-defs.svg#icon-case"></use>
                                    </svg>
                                    Услуги фрилансера:
                                </span>
                                <span>7</span>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn center">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>