<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

    <header class="header">
        <div class="container">
            <a href="/" class="header__logo">FinSoft</a>
            <div class="header__menu">
                <a href="javascript:void(0)">Сервисы</a>
                <a href="javascript:void(0)">Решения</a>
                <a href="javascript:void(0)">Услуги</a>
                <a href="javascript:void(0)" class="active">Интеграторы</a>
                <a href="javascript:void(0)">Промо-коды и скидки</a>
                <a href="javascript:void(0)">Кейсы</a>
                <a href="javascript:void(0)">Написать отзыв</a>
            </div>
            <a href="javascript:void(0)" class="btn btn-outline btn-white">Регистрация</a>
            <a href="javascript:void(0)" class="btn btn-outline">Войти</a>
        </div>
        <div class="bar"></div>
    </header>