<section class="head">
    <div class="container">
        <div class="breadcrumbs">
            <a href="javascript:void(0)">Главная</a>
            <a href="javascript:void(0)">Маркетинг</a>
            <a href="javascript:void(0)">Лучшие программы</a>
        </div>

        <div class="main__search">
            <input type="text" placeholder="Найдите сервис за 2 минуты">
            <button>
                <svg class="icon">
                    <use xlink:href="img/symbol-defs.svg#icon-search"></use>
                </svg>
            </button>
            <div class="main__search-dropdown">
                <div>Выберите правильный облачный сервис</div>
                <div>Выберите правильный облачный сервис</div>
                <div>Выберите правильный облачный сервис</div>
            </div>
        </div>
    </div>
</section>