<section class="icons">
    <div class="container">
        <div class="icons__item">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-globe"></use>
            </svg>
            <div class="icons__title">Более 250 000 сервисов</div>
            <div class="icons__text">Увеличьте возможности вашего бизнеса, <br>
                просто укажите ваши потребности и&nbsp;наш <br>
                сервис автоматически подберет вам <br>
                лучшие сервисы, сэкономив ваше время <br>
                и&nbsp;деньги</div>
        </div>
        <div class="icons__item">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-stars"></use>
            </svg>
            <div class="icons__title">Более 800 000 отзывов</div>
            <div class="icons__text">Проверенные отзывы пользователей, <br>
                которые помогут вам принимать <br>
                более взвешенные решения</div>
        </div>
        <div class="icons__item">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-list"></use>
            </svg>
            <div class="icons__title">Полный объем информации </div>
            <div class="icons__text">Наши обзоры сервисов имеет более <br>
                подробное описание, советы, <br>
                екомендациями и&nbsp;примеры, нежели <br>
                на&nbsp;других сайтах</div>
        </div>
    </div>
</section>