<div class="item">
    <a href="javascript:void(0)" class="item__photo"><img src="img/plan.png" alt=""></a>
    <div>
        <div class="item__top">
            <div>
                <div class="item__controls">
                    <a href="javascript:void(0)">
                        <div class="item__title">
                            Keap (formerly Infusionsoft)
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-link"></use>
                            </svg>
                        </div>
                    </a>
                    <div class="item__icons">
                        <div class="service__icons-item heart tip-parent">
                            <svg width="17" height="13" viewBox="0 0 20 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.57397 3.17955L9.99991 3.87257L10.4259 3.17958C11.2897 1.77437 12.8333 0.837402 14.599 0.837402C17.3057 0.837402 19.5 3.03157 19.5 5.73829C19.5 7.2109 18.8481 8.52872 17.8174 9.42783L17.8045 9.43903L17.7925 9.45108L10.1392 17.1046C10.1023 17.1416 10.0522 17.1623 9.99994 17.1623C9.94765 17.1623 9.89756 17.1416 9.86064 17.1046L2.2074 9.45108L2.19535 9.43903L2.18252 9.42784C1.15184 8.52873 0.5 7.21092 0.5 5.73829C0.5 3.03149 2.69365 0.837402 5.40032 0.837402C7.16602 0.837402 8.71035 1.77444 9.57397 3.17955Z"
                                    stroke="#0C1538" />
                            </svg>
                            <div class="tip">Текст подсказки</div>
                        </div>
                        <div class="service__icons-item bookmark tip-parent" data-modal="bookmark">
                            <svg width="12" height="13" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.75498 19.9425L0.5 25.1453V0.5H19.5V25.1453L10.245 19.9425L10 19.8048L9.75498 19.9425Z"
                                    stroke="#DD8F53" />
                            </svg>
                            <div class="tip">Добавить в избранное</div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="item__reviews">230 отзывов</a>
                </div>
                <div class="item__info">
                    <a href="javascript:void(0)"><img src="img/stars4.svg" alt=""></a>
                    <a href="javascript:void(0)" class="reviews__awards"><img src="img/icons/trophy.svg" alt=""> Топ
                        10 Awards</a>
                    <div class="reviews__rating bottom"><img src="img/icons/arrow-bottom.svg" alt=""> 23%</div>
                </div>
            </div>
            <div class="item__buttons">
                <a href="javascript:void(0)" class="btn">Посетить сайт</a>
                <a href="javascript:void(0)">Подробнее</a>
            </div>
        </div>
        <div class="item__bottom">
            <div>
                <div class="item__text">Сделать Landing Page для интернет-магазина женской одежды. Требуется
                    разработать дизайн первого экрана. Сайт находится в&nbsp;разработке. Шрифт, используемый
                    <a href="javascript:void(0)">Весь текст</a>
                </div>
                <div class="service__features">
                    <div><span>Платформа:</span> Mac, Windows, Linux </div>
                    <div><span>Прайс:</span> ₽₽₽<span class="gray">₽₽</span></div>
                    <div>
                        <span>Доступно на:</span>
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-phone"></use>
                        </svg>
                        <svg class="icon active">
                            <use xlink:href="img/symbol-defs.svg#icon-imac"></use>
                        </svg>
                    </div>
                    <div><span>Free:</span> Есть бесплатный тариф</div>
                </div>
            </div>
            <div class="service__progress">
                <div class="service__progress-item">
                    <img src="img/icons/tool.svg" alt="">
                    <div class="tip-parent">
                        <span class="fill"></span>
                        <span class="fill"></span>
                        <span class="fill"></span>
                        <span class="fill"></span>
                        <span></span>
                        <div class="tip">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit,
                            sed
                            do <br> eiusmod tempor incididunt ut&nbsp;labore <br> et&nbsp;dolore magna
                            aliqua.
                            Ut&nbsp;enim&nbsp;ad</div>
                    </div>
                </div>
                <div class="service__progress-item">
                    <img src="img/icons/phone.svg" alt="">
                    <div class="tip-parent">
                        <span class="fill"></span>
                        <span class="fill"></span>
                        <span class="fill"></span>
                        <span class="fill"></span>
                        <span></span>
                        <div class="tip">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit,
                            sed
                            do <br> eiusmod tempor incididunt ut&nbsp;labore <br> et&nbsp;dolore magna
                            aliqua.
                            Ut&nbsp;enim&nbsp;ad</div>
                    </div>
                </div>
                <div class="service__progress-item">
                    <img src="img/icons/shield.svg" alt="">
                    <div class="tip-parent">
                        <span class="fill"></span>
                        <span class="fill"></span>
                        <span class="fill"></span>
                        <span class="fill"></span>
                        <span></span>
                        <div class="tip">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit,
                            sed
                            do <br> eiusmod tempor incididunt ut&nbsp;labore <br> et&nbsp;dolore magna
                            aliqua.
                            Ut&nbsp;enim&nbsp;ad</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>