<div class="materials__list swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="materials__item">
                <div class="materials__wrap">
                    <div class="materials__img" style="background-image: url(img/pdf.png);">
                        <div class="materials__name">Справочник <br>
                            Финансовых <br>
                            показателей</div>
                        <div class="materials__format">.pdf</div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="btn btn-big btn-icon btn-download">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-download"></use>
                    </svg>
                    <span class="divider"></span>
                    <span>Скачать</span>
                </a>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="materials__item">
                <div class="materials__wrap">
                    <div class="materials__img" style="background-image: url(img/pdf.png);">
                        <div class="materials__name">Справочник <br>
                            Финансовых <br>
                            показателей</div>
                        <div class="materials__format">.pdf</div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="btn btn-big btn-icon btn-download">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-download"></use>
                    </svg>
                    <span class="divider"></span>
                    <span>Скачать</span>
                </a>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="materials__item">
                <div class="materials__wrap">
                    <div class="materials__img" style="background-image: url(img/pdf.png);">
                        <div class="materials__name">Справочник <br>
                            Финансовых <br>
                            показателей</div>
                        <div class="materials__format">.pdf</div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="btn btn-big btn-icon btn-download">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-download"></use>
                    </svg>
                    <span class="divider"></span>
                    <span>Скачать</span>
                </a>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="materials__item">
                <div class="materials__wrap">
                    <div class="materials__img" style="background-image: url(img/pdf.png);">
                        <div class="materials__name">Справочник <br>
                            Финансовых <br>
                            показателей</div>
                        <div class="materials__format">.pdf</div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="btn btn-big btn-icon btn-download">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-download"></use>
                    </svg>
                    <span class="divider"></span>
                    <span>Скачать</span>
                </a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>