<section class="materials">
    <div class="container">
        <h2>Полезные материалы от сервисов</h2>
        <a href="javascript:void(0)">Смотреть все отчеты</a>

        <div class="materials__list">
            <div class="materials__item">
                <div class="materials__wrap">
                    <div class="materials__img" style="background-image: url(img/pdf.png);">
                        <div class="materials__name">Справочник <br>
                            Финансовых <br>
                            показателей</div>
                        <div class="materials__format">.pdf</div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="btn btn-big btn-icon btn-download">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-download"></use>
                    </svg>
                    <span class="divider"></span>
                    <span>Скачать</span>
                </a>
            </div>

            <div class="materials__item">
                <div class="materials__wrap">
                    <div class="materials__img" style="background-image: url(img/pdf.png);">
                        <div class="materials__name">Справочник <br>
                            Финансовых <br>
                            показателей</div>
                        <div class="materials__format">.pdf</div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="btn btn-big btn-icon btn-download">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-download"></use>
                    </svg>
                    <span class="divider"></span>
                    <span>Скачать</span>
                </a>
            </div>

            <div class="materials__item">
                <div class="materials__wrap">
                    <div class="materials__img" style="background-image: url(img/pdf.png);">
                        <div class="materials__name">Справочник <br>
                            Финансовых <br>
                            показателей</div>
                        <div class="materials__format">.pdf</div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="btn btn-big btn-icon btn-download">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-download"></use>
                    </svg>
                    <span class="divider"></span>
                    <span>Скачать</span>
                </a>
            </div>

            <div class="materials__item">
                <div class="materials__wrap">
                    <div class="materials__img" style="background-image: url(img/pdf.png);">
                        <div class="materials__name">Справочник <br>
                            Финансовых <br>
                            показателей</div>
                        <div class="materials__format">.pdf</div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="btn btn-big btn-icon btn-download">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-download"></use>
                    </svg>
                    <span class="divider"></span>
                    <span>Скачать</span>
                </a>
            </div>
        </div>
    </div>
</section>