<section class="news">
    <div class="container">
        <h2>Новости и события</h2>
        <a href="javascript:void(0)">Посмотреть все</a>

        <div class="news__list swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    //= news-item.html
                </div>
                <div class="swiper-slide">
                    //= news-item-full.html
                </div>
                <div class="swiper-slide">
                    //= news-item.html
                </div>
                <div class="swiper-slide">
                    //= news-item-full.html
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>