<a href="javascript:void(0)" class="news__item full" style="background-image: url(img/news1.jpg);">
    <div class="news__img"></div>
    <div class="news__info">
        <div class="news__title">Telegram предложил пользователям альтернативу сервису знакомств</div>
        <div class="news__bottom">
            <div class="news__link">
                Читать больше
                <svg class="icon">
                    <use xlink:href="img/symbol-defs.svg#icon-arrow-right"></use>
                </svg>
            </div>
            <div class="news__date">02.02.2020</div>
        </div>
    </div>
</a>