<section class="sale">
    <div class="container">
        <h2>Бонусы и скидки к сервисам и услугам</h2>
        <a href="javascript:void(0)">Посмотреть все</a>

        <div class="sale__list">
            <a href="javascript:void(0)" class="sale__item" data-modal="sale">
                <div class="sale__trophy">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                    </svg>
                    Топ 10
                </div>
                <div class="sale__top">
                    <img src="img/bonita.png" alt="">
                </div>
                <div class="sale__name">AmoCRM</div>
                <div class="sale__text">Дарим на баланс</div>
                <div class="sale__price">5 000р</div>
                <div class="sale__date">Активен до: 01.03.2020 </div>
                <div class="btn btn-big btn-dot btn-shadow">Получить</div>
            </a>

            <a href="javascript:void(0)" class="sale__item" data-modal="sale">
                <div class="sale__trophy">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                    </svg>
                    Топ 10
                </div>
                <div class="sale__top">
                    <img src="img/bonita.png" alt="">
                </div>
                <div class="sale__name">AmoCRM</div>
                <div class="sale__text">Дарим на баланс</div>
                <div class="sale__price">5 000р</div>
                <div class="sale__date">Активен до: 01.03.2020 </div>
                <div class="btn btn-big btn-dot btn-shadow">Получить</div>
            </a>

            <a href="javascript:void(0)" class="sale__item" data-modal="sale">
                <div class="sale__trophy">
                    №1
                </div>
                <div class="sale__top">
                    <img src="img/ibm.png" alt="">
                </div>
                <div class="sale__name">AmoCRM</div>
                <div class="sale__text">Дарим на баланс</div>
                <div class="sale__price">5 000р</div>
                <div class="sale__date">Активен до: 01.03.2020 </div>
                <div class="btn btn-big btn-dot btn-shadow">Получить</div>
            </a>

            <a href="javascript:void(0)" class="sale__item" data-modal="sale">
                <div class="sale__trophy">
                    №1
                </div>
                <div class="sale__top">
                    <img src="img/promo.png" alt="">
                </div>
                <div class="sale__name">AmoCRM</div>
                <div class="sale__text">Дарим на баланс</div>
                <div class="sale__price">5 000р</div>
                <div class="sale__date">Активен до: 01.03.2020 </div>
                <div class="btn btn-big btn-dot btn-shadow">Получить</div>
            </a>

            <a href="javascript:void(0)" class="sale__item" data-modal="sale">
                <div class="sale__trophy">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                    </svg>
                    Топ 10
                </div>
                <div class="sale__top">
                    <img src="img/promo.png" alt="">
                </div>
                <div class="sale__name">AmoCRM</div>
                <div class="sale__text">Дарим на баланс</div>
                <div class="sale__price">5 000р</div>
                <div class="sale__date">Активен до: 01.03.2020 </div>
                <div class="btn btn-big btn-dot btn-shadow">Получить</div>
            </a>

            <a href="javascript:void(0)" class="sale__item" data-modal="sale">
                <div class="sale__trophy">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                    </svg>
                    Топ 10
                </div>
                <div class="sale__top">
                    <img src="img/bonita.png" alt="">
                </div>
                <div class="sale__name">AmoCRM</div>
                <div class="sale__text">Дарим на баланс</div>
                <div class="sale__price">5 000р</div>
                <div class="sale__date">Активен до: 01.03.2020 </div>
                <div class="btn btn-big btn-dot btn-shadow">Получить</div>
            </a>

            <a href="javascript:void(0)" class="sale__item" data-modal="sale">
                <div class="sale__trophy">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                    </svg>
                    Топ 10
                </div>
                <div class="sale__top">
                    <img src="img/bonita.png" alt="">
                </div>
                <div class="sale__name">AmoCRM</div>
                <div class="sale__text">Дарим на баланс</div>
                <div class="sale__price">5 000р</div>
                <div class="sale__date">Активен до: 01.03.2020 </div>
                <div class="btn btn-big btn-dot btn-shadow">Получить</div>
            </a>

            <a href="javascript:void(0)" class="sale__item" data-modal="sale">
                <div class="sale__trophy">
                    №1
                </div>
                <div class="sale__top">
                    <img src="img/ibm.png" alt="">
                </div>
                <div class="sale__name">AmoCRM</div>
                <div class="sale__text">Дарим на баланс</div>
                <div class="sale__price">5 000р</div>
                <div class="sale__date">Активен до: 01.03.2020 </div>
                <div class="btn btn-big btn-dot btn-shadow">Получить</div>
            </a>

            <a href="javascript:void(0)" class="sale__item" data-modal="sale">
                <div class="sale__trophy">
                    №1
                </div>
                <div class="sale__top">
                    <img src="img/promo.png" alt="">
                </div>
                <div class="sale__name">AmoCRM</div>
                <div class="sale__text">Дарим на баланс</div>
                <div class="sale__price">5 000р</div>
                <div class="sale__date">Активен до: 01.03.2020 </div>
                <div class="btn btn-big btn-dot btn-shadow">Получить</div>
            </a>

            <a href="javascript:void(0)" class="sale__item" data-modal="sale">
                <div class="sale__trophy">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-trophy"></use>
                    </svg>
                    Топ 10
                </div>
                <div class="sale__top">
                    <img src="img/promo.png" alt="">
                </div>
                <div class="sale__name">AmoCRM</div>
                <div class="sale__text">Дарим на баланс</div>
                <div class="sale__price">5 000р</div>
                <div class="sale__date">Активен до: 01.03.2020 </div>
                <div class="btn btn-big btn-dot btn-shadow">Получить</div>
            </a>
        </div>
    </div>
</section>