<div class="sidebar">
    <a href="javascript:void(0)" class="btn btn-big full">Закажите подбор сервиса</a>

    <div class="sidebar__item">
        <div class="sidebar__title">Размер бизнеса</div>
        <div class="sidebar__group">
            <div class="form-group radio">
                <input type="radio" name="r1" id="r1">
                <label for="r1">Все <span>(360)</span></label>
            </div>
            <div class="form-group radio">
                <input type="radio" name="r1" id="r2">
                <label for="r2">Малый бизнес<span>(47)</span></label>
            </div>
            <div class="form-group radio">
                <input type="radio" name="r1" id="r3">
                <label for="r3">Средний бизнес <span>(28)</span></label>
            </div>
            <div class="form-group radio">
                <input type="radio" name="r1" id="r4">
                <label for="r4">Предприятие <span>(15)</span></label>
            </div>
        </div>

        <div class="sidebar__title">Рейтинг</div>
        <div class="sidebar__group">
            <div class="form-group checkbox">
                <input type="checkbox" id="c1">
                <label for="c1"><img src="img/stars4.svg" alt=""> <span>(360)</span></label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="c2">
                <label for="c2"><img src="img/stars4.svg" alt=""> <span>(47)</span></label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="c3">
                <label for="c3"><img src="img/stars4.svg" alt=""> <span>(28)</span></label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="c4">
                <label for="c4"><img src="img/stars4.svg" alt=""> <span>(15)</span></label>
            </div>
        </div>

        <div class="sidebar__title">Язык</div>
        <div class="sidebar__group">
            <div class="form-group checkbox">
                <input type="checkbox" id="s1">
                <label for="s1">Русский <span>(360)</span></label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="s2">
                <label for="s2">Английский <span>(47)</span></label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="s3">
                <label for="s3">Французский <span>(28)</span></label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="s4">
                <label for="s4">Итальянский <span>(15)</span></label>
            </div>

            <a href="javascript:void(0)" class="scrollto">
                Посмотреть все

                <svg class="icon">
                    <use xlink:href="img/symbol-defs.svg#icon-toggle"></use>
                </svg>
            </a>

            <div class="sidebar__hide">
                <div class="form-group checkbox">
                    <input type="checkbox" id="c6">
                    <label for="c6">Английский <span>(47)</span></label>
                </div>
                <div class="form-group checkbox">
                    <input type="checkbox" id="c7">
                    <label for="c7">Французский <span>(28)</span></label>
                </div>
                <div class="form-group checkbox">
                    <input type="checkbox" id="c8">
                    <label for="c8">Итальянский <span>(15)</span></label>
                </div>
            </div>
        </div>

        <div class="sidebar__title">Язык</div>
        <div class="sidebar__group bd-0">
            <div class="form-group checkbox">
                <input type="checkbox" id="y5">
                <label for="y5">Русский <span>(360)</span></label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="y6">
                <label for="y6">Английский <span>(47)</span></label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="y7">
                <label for="y7">Французский <span>(28)</span></label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="y8">
                <label for="y8">Итальянский <span>(15)</span></label>
            </div>

            <a href="javascript:void(0)" class="scrollto">
                Посмотреть все

                <svg class="icon">
                    <use xlink:href="img/symbol-defs.svg#icon-toggle"></use>
                </svg>
            </a>

            <div class="sidebar__hide">
                <div class="form-group checkbox">
                    <input type="checkbox" id="y16">
                    <label for="y16">Английский <span>(47)</span></label>
                </div>
                <div class="form-group checkbox">
                    <input type="checkbox" id="y17">
                    <label for="y17">Французский <span>(28)</span></label>
                </div>
                <div class="form-group checkbox">
                    <input type="checkbox" id="y18">
                    <label for="y18">Итальянский <span>(15)</span></label>
                </div>
            </div>

            <a href="javascript:void(0)" class="btn center">Применить (357)</a>
        </div>
    </div>

    <div class="sidebar__item">
        <div class="sidebar__title">Полезно знать</div>
        <div class="sidebar__text">Мы&nbsp;меняем способ принятия решений. До&nbsp;недавнего времени выбор
            бизнес-решений был</div>
        <div class="materials__img" style="background-image: url(img/pdf.png);">
            <div class="materials__name">Справочник <br>
                Финансовых <br>
                показателей</div>
        </div>
        <a href="javascript:void(0)" class="btn btn-big btn-icon btn-download">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-download"></use>
            </svg>
            <span class="divider"></span>
            <span>Скачать</span>
        </a>
    </div>

    <div class="sidebar__item">
        <div class="sidebar__title sm">Топ 10 бесплатных Email
            приложений в 2020</div>
        <div class="sidebar__group bd-0">
            <div class="form-group radio dot">
                <input type="radio" name="t1" id="t1">
                <label for="t1">MailChimp</label>
            </div>
            <div class="form-group radio dot">
                <input type="radio" name="t1" id="t2">
                <label for="t2"><a href="javascript:void(0)">Constant Contact </a></label>
            </div>
            <div class="form-group radio dot">
                <input type="radio" name="t1" id="t3">
                <label for="t3">Sendinble</label>
            </div>
            <div class="form-group radio dot">
                <input type="radio" name="t1" id="t4">
                <label for="t4">Zoho Campaigns</label>
            </div>
            <div class="form-group radio dot">
                <input type="radio" name="t1" id="t5">
                <label for="t5">MailChimp</label>
            </div>
            <div class="form-group radio dot">
                <input type="radio" name="t1" id="t6">
                <label for="t6">Constant Contact </label>
            </div>
            <div class="form-group radio dot">
                <input type="radio" name="t1" id="t7">
                <label for="t7">Sendinble</label>
            </div>
            <div class="form-group radio dot">
                <input type="radio" name="t1" id="t8">
                <label for="t8">Zoho Campaigns</label>
            </div>
            <div class="form-group radio dot">
                <input type="radio" name="t1" id="t9">
                <label for="t9">Sendinble</label>
            </div>

            <a href="javascript:void(0)" class="scrollto">
                Посмотреть все

                <svg class="icon">
                    <use xlink:href="img/symbol-defs.svg#icon-toggle"></use>
                </svg>
            </a>

            <div class="sidebar__hide">
                <div class="form-group radio dot">
                    <input type="radio" name="t1" id="t10">
                    <label for="t10">Sendinble</label>
                </div>
                <div class="form-group radio dot">
                    <input type="radio" name="t1" id="t11">
                    <label for="t11">Zoho Campaigns</label>
                </div>
                <div class="form-group radio dot">
                    <input type="radio" name="t1" id="t12">
                    <label for="t12">MailChimp</label>
                </div>
            </div>

        </div>
    </div>

    <div class="sidebar__item">
        <div class="sidebar__title">Полезно знать</div>
        <div class="sidebar__text">Мы&nbsp;меняем способ принятия решений. До&nbsp;недавнего времени выбор
            бизнес-решений был</div>
        <div class="materials__img" style="background-image: url(img/pdf.png);">
            <div class="materials__name">Справочник <br>
                Финансовых <br>
                показателей</div>
        </div>
        <a href="javascript:void(0)" class="btn btn-big btn-icon btn-download">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-download"></use>
            </svg>
            <span class="divider"></span>
            <span>Скачать</span>
        </a>
    </div>
</div>