<section class="subscribe">
    <div class="container">
        <img src="img/subscribe.svg" alt="" class="subscribe__img">
        <img src="img/subscribe-line.svg" alt="" class="subscribe__line">
        <h2>Подписаться на новости Finsoft</h2>

        <form action="">
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="E-mail">
            <button class="btn btn-big">Подписаться</button>
            <div class="checkbox">
                <input type="checkbox" id="s1">
                <label for="s1">Нажимая кнопку “Подписаться” вы даете согласие <a href="javascript:void(0)">на обработку
                        персональных данных</a></label>
            </div>
        </form>
    </div>
</section>