<div class="wrapper__sidebar">
    <a href="javascript:void(0)" class="active">
        <svg class="icon">
            <use xlink:href="img/symbol-defs.svg#icon-login"></use>
        </svg>
        Начало работы
    </a>
    <a href="javascript:void(0)">
        <svg class="icon">
            <use xlink:href="img/symbol-defs.svg#icon-login"></use>
        </svg>
        Языки
    </a>
    <a href="javascript:void(0)">
        <svg class="icon">
            <use xlink:href="img/symbol-defs.svg#icon-login"></use>
        </svg>
        Языки
    </a>
    <a href="javascript:void(0)">
        <svg class="icon">
            <use xlink:href="img/symbol-defs.svg#icon-login"></use>
        </svg>
        Языки
    </a>
    <a href="javascript:void(0)">
        <svg class="icon">
            <use xlink:href="img/symbol-defs.svg#icon-login"></use>
        </svg>
        Языки
    </a>
</div>