.agency {
    @include r(1023) {
        overflow: hidden;
    }

    @include r(767) {
        padding-bottom: 0;
    }

    padding: 22px 0;

    &__list {
        overflow: visible;
    }

    &__item {
        background: #ffffff;
        box-shadow: 0px 0px 15px rgba(179, 184, 190, 0.35);
        padding: 22px 26px;
        position: relative;
    }

    &__top {
        @include r(767) {
            @include fcn;
        }

        @include fsn;
        margin-bottom: 11px;

        & > a {
            flex-shrink: 0;
            margin-right: 12px;
        }
    }

    &__photo {
        width: 77px;
    }

    &__info {
        @include fcn;
        flex-wrap: wrap;
        margin-top: -8px;
    }

    &__name {
        font-weight: 700;
        font-size: 16px;
        @include fcn;
        margin-right: 5px;
        transition: $trans;

        &:hover {
            color: $blue;
        }

        img {
            width: 10px;
            margin-left: 7px;
        }
    }

    &__stars {
        @include r(767) {
            width: 100%;
        }
    }

    &__text {
        @include r(767) {
            max-height: 93px;
            margin-bottom: 14px;
        }

        width: 100%;
        font-size: 12px;
        line-height: 1.5;
        margin-top: 9px;
        max-height: 54px;
        @include ellipsis;
    }

    &__body {
        @include r(767) {
            display: block;
        }

        @include fsn;

        & > div {
            @include r(767) {
                width: 100%;
            }

            width: 50%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 5px;
    }

    &__addr {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 17px;
    }

    .btn {
        @include r(767) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }
}
