@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import 'mixins';

$red: #862020;
$green: #4fafa3;
$blue: #5b88d9;
$gray: #b3b8be;
$gray2: #898d9c;
$darkBlue: #0c1538;
$orange: #dd8f53;
$text: #060c1c;
$trans: all 0.2s ease-in-out;

::selection {
    background: $blue;
    color: #fff;
}

html,
body {
    &.overflow {
        overflow: hidden;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: $text;
}

* {
    box-sizing: border-box;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
}

h1 {
    @include r(767) {
        font-size: 26px;
        line-height: 1.18;
    }

    font-size: 38px;
}

h2 {
    @include r(767) {
        font-size: 22px;
        line-height: 1.36;
        margin-bottom: 35px;
        @include fcs;
        text-align: left;
    }

    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 46px;
    @include fcc;

    .tip-parent {
        margin-left: 15px;

        .tip {
            top: 0;
        }
    }

    & + span.orange,
    & + a {
        @include r(767) {
            text-align: left;
            position: relative;
            transform: none;
            left: 0;
            top: -26px;
        }

        color: $orange;
        font-weight: 700;
        text-decoration: underline;
        @include centerX;
        display: inline-block;
        top: -46px;

        &:hover {
            text-decoration: none;
        }
    }

    & + span.orange {
        @include r(767) {
            display: block;
        }

        text-decoration: none;

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

button {
    background: transparent;
    border: 0;
}

.btn,
input,
textarea,
select,
button:focus {
    outline: none;
}

input[type='password'],
input[type='text'],
textarea {
    appearance: none;
    background: #ffffff;
    border: 1px solid #b3b8be;
    transition: $trans;
    user-select: none;
    resize: none;

    &:focus {
        border-color: $text;
    }

    &::placeholder {
        color: #8e8e8e;
    }
}

.checkbox {
    @include fsn;

    label {
        color: $gray2;
        cursor: pointer;
        user-select: none;

        & + input {
            margin-left: 8px;
        }
    }

    input + label {
        margin-left: 8px;
    }

    &.slide {
        input {
            display: none;

            &:checked + label {
                background: $orange;

                &::before {
                    left: 22px;
                }
            }
        }

        label {
            width: 50px;
            height: 30px;
            background: $gray;
            border-radius: 100px;
            position: relative;
            padding: 0;
            margin: 0;
            display: block;
            transition: $trans;

            &::before {
                content: '';
                width: 26px;
                height: 26px;
                left: 1px;
                @include centerYa;
                border: 0;
                background: url(../img/slide.svg) no-repeat center;
                background-size: cover;
                transition: $trans;
            }

            &::after {
                display: none;
            }
        }
    }
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    background: $gray;
    appearance: none;
    cursor: pointer;
    flex-shrink: 0;
    appearance: none;

    &:checked {
        background: url(../img/icons/check.svg) no-repeat center $gray;
        background-size: 12px;
    }
}

input[type='radio'] {
    display: none;

    & + label {
        position: relative;
        padding-left: 23px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 14px;
            height: 14px;
            border: 1px solid #b3b8be;
            border-radius: 50%;
            transition: $trans;
        }

        &::after {
            content: '';
            position: absolute;
            top: 6px;
            left: 4px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $orange;
            opacity: 0;
            transition: $trans;
        }
    }

    &:checked + label {
        &::before {
            border-color: $orange;
        }

        &::after {
            opacity: 1;
        }
    }
}

.radio {
    &.dot {
        input[type='radio'] {
            display: none;

            & + label {
                position: relative;
                padding-left: 23px;
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    background: #b3b8be;
                    border-radius: 50%;
                    transition: $trans;
                }

                &::after {
                    display: none;
                }

                a {
                    color: $blue;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &:checked + label {
                &::before {
                    background: $orange;
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.btn {
    display: inline-block;
    transition: $trans;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    background: $orange;
    padding: 8px 16px;
    color: #fff;
    border: 1px solid transparent;
    position: relative;

    &.btn-big {
        @include r(767) {
            font-size: 16px;
            padding: 9px 16px;
        }

        font-size: 18px;
        padding: 12px 19px;
    }

    .icon {
        fill: #fff;
        font-size: 22px;
    }

    &:hover {
        background: $blue;
    }

    &:focus {
        outline: none;
    }

    &-outline {
        background: transparent;
        border-color: $orange;
        color: $orange;

        &:hover {
            background: $blue;
            color: #fff;
            border-color: $blue;

            .icon {
                fill: #fff;
            }
        }

        .icon {
            fill: $orange;
        }

        &.btn-white {
            border-color: #fff;
            color: #fff;
            background: transparent;

            &:hover {
                background: #fff;
                color: $text;
                border-color: #fff;

                .icon {
                    fill: $text;
                }
            }

            .icon {
                fill: #fff;
            }
        }
    }

    &-white {
        background: #fff;
        color: $text;

        .icon {
            fill: $text;
        }
    }

    &-icon {
        @include fcc;
    }

    &-download {
        .icon {
            @include centerYa;
            left: 16px;
        }

        span:not(.divider) {
            position: relative;
            left: 18px;
        }

        &.btn-big {
            .icon {
                left: 19px;
            }

            span:not(.divider) {
                left: 28px;
            }
        }
    }

    .divider {
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 65px;
        width: 1px;
        background: #dadada;
    }

    &-dot {
        padding-bottom: 10px;
        padding-top: 6px;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            @include centerXa;
            bottom: -12px;
            background: #fff;
            border-radius: 50%;
            pointer-events: none;
            user-select: none;
        }

        &.btn-big {
            padding-bottom: 16px;
            padding-top: 8px;
        }

        &.btn-shadow::before {
            background: #f9f9f9;
        }
    }

    &-darkBlue {
        background: $darkBlue;
        color: #fff;

        &:hover {
            background: $orange;
        }
    }

    &.center {
        @include centerX;
    }
}

.container {
    @include r(1190) {
        padding: 0 10px;
    }

    margin: 0 auto;
    max-width: 1170px;
}

.red {
    color: $red;
}

.green {
    color: $green;
}

.blue {
    color: $blue;
}

.gray {
    color: $gray;
}

.gray2 {
    color: $gray2;
}

.darkBlue {
    color: $darkBlue;
}

.orange {
    color: $orange;
}

ul {
    &.dot {
        padding-left: 0;
        margin: 0;
        list-style-type: none;

        &.dot-blue {
            li::before {
                background: #3660ab;
            }
        }

        &.dot-orange {
            li::before {
                background: $orange;
            }
        }

        li {
            position: relative;
            padding-left: 25px;
            margin-bottom: 9px;

            &::before {
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $gray;
            }
        }

        &.sm {
            li {
                font-size: 12px;
                padding-left: 10px;
                margin-bottom: 2px;

                &::before {
                    width: 5px;
                    height: 5px;
                }
            }
        }
    }
}

ol {
    padding-left: 0;
    margin: 0;
    list-style-type: none;

    li {
        counter-increment: counter;
        position: relative;
        padding-left: 25px;
        margin-bottom: 9px;

        &::before {
            content: counter(counter) '. ';
            color: $orange;
            font-weight: bold;
            font-size: 18px;
            position: absolute;
            top: -5px;
            left: 0;
        }
    }
}

.tabs {
    @include r(1023) {
        overflow: scroll;
    }

    @include r(767) {
        &.center {
            overflow: hidden;
            text-align: center;
            @include fcc;

            a {
                padding: 0 14px;
            }
        }
    }

    border-bottom: 1px solid $gray;
    padding-bottom: 7px;
    @include fcn;
    position: relative;
    margin-bottom: 34px;

    a {
        @include r(1279) {
            padding: 0 10px;
            font-size: 14px;
        }

        @include r(1023) {
            white-space: nowrap;
        }

        @include r(767) {
            font-size: 14px;
            padding: 0 9px;
        }

        padding: 0 18px;
        color: $gray;
        font-size: 16px;
        transition: $trans;
        user-select: none;

        &.active {
            @include r(767) {
                color: $blue;
                font-weight: bold;
            }

            color: $text;
        }
    }

    .bar {
        @include r(1023) {
            display: none;
        }

        position: absolute;
        height: 4px;
        background: $blue;
        width: 0;
        bottom: -1px;
        left: 0;
        z-index: 2;
    }
}

.tab {
    display: none;

    &.active {
        display: block;
    }

    &__flex {
        @include fssb;
    }

    &__body {
        width: 100%;
    }

    .img {
        @include r(1023) {
            display: none;
        }

        margin-left: 42px;

        &.hide {
            pointer-events: none;
            user-select: none;
            opacity: 0;
        }
    }

    .video {
        @include r(767) {
            @include flexlist(1px);
        }

        @include flexlist(15px);

        .video__wrap {
            @include r(767) {
                @include flexitem(100%, 1px, 30px);
            }

            @include flexitem(33.33%, 15px, 30px);
        }
    }
}

div.select {
    position: relative;
    width: 100%;

    &.active {
        .select__dropdown {
            pointer-events: all;
            user-select: initial;
            opacity: 1;
        }

        .select__current::before {
            transform: rotate(180deg);
            margin-top: -6px;
        }
    }

    .select__current {
        @include r(767) {
            padding: 11px 34px;
        }

        border: 1px solid $blue;
        padding: 17px 57px;
        padding-left: 17px;
        position: relative;
        cursor: pointer;
        user-select: none;

        .icon {
            @include r(767) {
                left: 12px;
                font-size: 16px;
            }

            @include centerYa;
            left: 17px;
            font-size: 25px;

            & + span {
                @include r(767) {
                    padding-left: 10px;
                }

                padding-left: 40px;
            }
        }

        &::before {
            @include r(767) {
                right: 12px;
                width: 12px;
            }

            content: '';
            @include centerYa;
            right: 22px;
            width: 15px;
            height: 11px;
            background: url(../img/icons/select.svg) no-repeat center;
            background-size: contain;
            transition: $trans;
            transform-origin: 50% 50%;
        }
    }

    &__dropdown {
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        transform: translateY(100%);
        border: 1px solid $blue;
        background: #fff;
        max-height: 182px;
        transition: $trans;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        z-index: 2;
        box-shadow: 0 7px 7px rgba(#000, 0.1);
    }

    &__item {
        padding: 14px 18px;
        cursor: pointer;
        font-size: 20px;
        transition: $trans;
        user-select: none;

        &:hover {
            background: $blue;
            color: #fff;
        }
    }
}

.password {
    position: relative;

    input {
        margin-bottom: 0 !important;
    }

    .icon {
        @include r(767) {
            left: 12px;
            font-size: 16px;
        }

        position: absolute;
        @include centerYa;
        left: 24px;
        fill: $orange;
        font-size: 18px;

        &.show {
            @include r(767) {
                right: 12px;
                font-size: 16px;
            }

            left: initial;
            right: 24px;
            fill: $gray;
            font-size: 24px;
            cursor: pointer;
            transition: $trans;

            &.active {
                fill: $orange;
            }
        }
    }
}

.swiper-pagination {
    @include r(767) {
        margin-top: 20px;
        text-align: center;
    }

    position: static;
    margin-top: 20px;

    &-bullet {
        width: 10px;
        height: 10px;
        background: #b3b8be;

        &-active {
            background: $orange;
        }
    }
}
