.icons {
    @include r(1345) {
        padding: 40px 0;
    }

    @include r(767) {
        padding: 101px 0 0;
    }

    padding: 97px 0;

    &.center {
        text-align: center;
    }

    h2 {
        margin-bottom: 71px;
    }

    &__list {
        @include r(1023) {
            flex-wrap: wrap;
        }

        @include fsc;
    }

    .icon {
        @include r(767) {
            margin-bottom: 4px;
        }

        font-size: 60px;
        fill: $gray;
        margin-bottom: 13px;
    }

    &__item {
        @include r(1279) {
            margin: 0 13px;
        }

        @include r(1023) {
            margin-bottom: 35px;
        }

        margin: 0 4%;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__text {
        @include r(767) {
            line-height: 1.4;

            br {
                display: none;
            }
        }

        line-height: 1.6;
    }
}
