.item {
    @include r(767) {
        padding-left: 14px;
        display: block;
    }

    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(134, 135, 135, 0.35);
    padding: 17px 14px;
    padding-left: 37px;
    @include fsn;
    position: relative;
    margin-bottom: 23px;

    &:last-child {
        margin-bottom: 0;
    }

    &__tag {
        @include r(767) {
            width: auto;
            bottom: initial;
            padding: 3px 34px;
            top: -17px;
        }

        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        background: #3862ab;
        font-size: 12px;
        font-weight: bold;
        bottom: 0;
        width: 28px;
        @include fcc;

        &::before {
            @include r(767) {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 6px 0 6px;
                border-color: #3862ab transparent transparent transparent;
                top: initial;
                bottom: 1px;
                right: initial;
                left: 20px;
                transform: translateY(100%);
            }

            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 0 6px 6px;
            border-color: transparent transparent transparent #3862ab;
            position: absolute;
            top: 34px;
            right: 1px;
            transform: translateX(100%);
        }

        span {
            @include r(767) {
                transform: none;
            }

            white-space: nowrap;
            transform: rotate(-90deg);
            display: block;
        }
    }

    & > a {
        @include r(767) {
            @include fcn;
            margin-right: 0;
        }

        flex-shrink: 0;
        margin-right: 17px;
        margin-top: 7px;

        img {
            @include r(767) {
                margin-right: 17px;
            }

            width: 76px;
        }
    }

    &__top {
        @include fssb;
        margin-bottom: -5px;

        .btn {
            padding: 4px 21px;
        }
    }

    &__buttons {
        margin-left: 20px;
        @include fcc;
        flex-direction: column;
        flex-shrink: 0;

        a {
            display: block;

            &:not(.btn) {
                color: $orange;
                font-size: 12px;
                font-weight: 700;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .btn {
            margin-bottom: 4px;
        }
    }

    &__icons {
        @include r(767) {
            position: absolute;
            top: 10px;
            right: 0;
            margin-top: 0;
        }

        @include fcn;
        flex-shrink: 0;
        position: relative;
        margin-top: 7px;
    }

    &__controls {
        @include fsn;
        margin-bottom: -3px;
        top: 10px;
        flex-shrink: 0;

        .heart,
        .bookmark {
            @include r(767) {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            path {
                stroke: $text;
            }
        }

        .heart {
            margin-right: 6px;
        }

        .bookmark {
            margin-right: 9px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        margin-right: 9px;
        transition: $trans;

        &:hover {
            color: $blue;
        }

        .icon {
            fill: $blue;
            font-size: 10px;
            margin-left: 9px;
            margin-top: -9px;
            flex-shrink: 0;
        }
    }

    .item__reviews {
        @include r(767) {
            margin-top: 0;
        }

        margin-top: 7px;
    }

    &__reviews {
        @include r(767) {
            order: 4;
            margin-left: 10px;
            margin-top: 0;
        }

        color: $gray2;
        text-decoration: underline;
        font-size: 12px;
        flex-shrink: 0;

        &:hover {
            text-decoration: none;
        }
    }

    &__info {
        @include r(767) {
            margin-top: 10px;
            margin-bottom: 15px;
            max-width: 200px;
            flex-wrap: wrap;

            .item__reviews {
                order: 2;
            }

            .reviews__awards {
                order: 3;
                margin-left: 0;
                margin-top: 5px;
            }

            .reviews__rating {
                margin-top: 5px;
            }
        }

        @include fcn;
    }

    .reviews__rating,
    .reviews__awards {
        @include r(767) {
        }
    }

    &__bottom {
        @include r(767) {
            display: block;

            & > div {
                @include fcn;
                flex-wrap: wrap;
            }
        }

        @include fssb;
    }

    &__text {
        @include r(767) {
            font-size: 14px;
            line-height: 1.5;
        }

        font-size: 12px;
        line-height: 1.63;
        margin-bottom: 13px;

        a {
            color: $blue;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .service__progress {
        @include r(767) {
            margin-top: 0;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 0;
        margin-top: 10px;

        div span {
            height: 8px;
        }

        &-item {
            width: 100%;
            margin-bottom: 5px;

            img {
                width: 12px;
            }
        }
    }

    .service__features {
        @include r(1279) {
            flex-wrap: wrap;
        }

        @include r(767) {
            display: block;
            font-size: 14px;
            margin-bottom: 20px;
        }

        @include fcn;
        font-size: 10px;
        margin-bottom: 0;

        & > div {
            margin-right: 19px;

            &:last-child {
                margin-right: 0;
            }
        }

        .icon {
            font-size: 11px;
        }
    }
}
