.materials {
    @include r(1023) {
        overflow: hidden;
    }

    @include r(767) {
        padding-bottom: 0;
    }

    padding: 21px 0;

    &__list {
        overflow: visible;

        & + .content__more {
            @include r(767) {
                display: none;
            }
        }
    }

    &__item {
        color: #fff;
    }

    &__wrap {
        @include r(767) {
            height: 293px;
        }

        height: 356px;
        background: url(../img/material.svg) no-repeat left top;
        background-size: cover;
        box-shadow: 0px 0px 15px rgba(179, 184, 190, 0.35);
        margin-bottom: 23px;
        @include fcc;
    }

    &__img {
        @include r(767) {
            width: 167px;
            height: 237px;
        }

        width: 203px;
        height: 288px;
        @include fnc;
        text-align: center;
        padding: 38px 25px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #fff;
    }

    &__name {
        @include r(767) {
            font-size: 15px;
        }

        font-weight: 700;
        font-size: 18px;
        line-height: 1.16;
    }

    &__format {
        position: absolute;
        right: 10px;
        bottom: 15px;
        font-size: 11px;
        font-weight: 700;
    }
}
