.reviews {
    padding: 60px 0;
    overflow: hidden;

    &__list {
        overflow: visible;
    }

    &__item {
        border: 1px solid $gray;
        position: relative;
    }

    &__top {
        @include r(767) {
            padding: 23px 25px 15px;
        }

        padding: 12px 25px;
        @include fsn;
        border-bottom: 1px solid $gray;

        div {
            @include fcn;
            flex-wrap: wrap;
        }
    }

    &__photo {
        width: 61px;
        margin-right: 13px;
        @include fcc;
        flex-shrink: 0;
    }

    a.reviews__title {
        @include r(767) {
            font-size: 18px;
            line-height: 1.33;
            margin-top: -4px;
            min-height: 61px;
            @include fcn;
            margin-bottom: 0;
        }

        font-weight: 700;
        font-size: 16px;
        margin-bottom: 5px;
        width: 100%;
        transition: $trans;
        padding-right: 30px;

        &:hover {
            color: $orange;
        }

        img {
            width: 10px;
            position: relative;
            top: -6px;
        }
    }

    &__wrap {
        @include r(767) {
            margin-top: 10px;
            margin-left: -75px;
            max-width: 260px;
        }
    }

    &__awards {
        @include r(767) {
            order: 3;
        }

        @include fcn;
        color: $orange;
        font-weight: 700;
        margin-right: 9px;
        font-size: 12px;

        img {
            @include r(767) {
                margin-left: 0;
            }

            margin-right: 5px;
            margin-left: 16px;
        }
    }

    &__rating {
        @include r(767) {
            order: 4;
        }

        @include fcn;
        font-weight: 700;
        margin-right: 15px;
        font-size: 12px;

        &.top {
            color: $green;
        }

        &.bottom {
            color: $red;
        }

        img {
            margin-right: 5px;
        }
    }

    &__count {
        @include r(767) {
            order: 2;
            margin-left: 11px;
        }

        color: $gray2;
        transition: $trans;
        font-size: 12px;

        &:hover {
            color: $orange;
        }
    }

    &__user {
        @include r(1279) {
            flex-wrap: wrap;
        }

        @include r(1023) {
            flex-wrap: nowrap;
        }

        @include r(767) {
            flex-wrap: wrap;
            padding: 20px 25px;
        }

        padding: 12px 25px;
        @include fsn;
        border-bottom: 1px solid $gray;

        a {
            flex-shrink: 0;

            img {
                @include r(767) {
                    margin-right: 9px;
                }

                border-radius: 50%;
                width: 60px;
                margin-right: 14px;
            }
        }
    }

    &__name {
        @include r(1279) {
            font-size: 14px;
        }

        @include r(767) {
            font-size: 12px;
            margin-top: -4px;
            display: block;
        }

        font-weight: 700;
        font-size: 12px;
        margin-bottom: 2px;
        transition: $trans;

        &:hover {
            color: $orange;
        }
    }

    &__info {
        &-item {
            @include r(1279) {
                font-size: 12px;
            }

            @include r(767) {
                font-size: 10px;
            }

            font-size: 10px;
            font-weight: 700;
            @include fcn;

            span {
                margin-right: 5px;
            }
        }
    }

    &__check {
        @include r(1279) {
            font-size: 12px;
        }

        @include r(767) {
            font-size: 10px;
        }

        font-size: 10px;
        @include fcn;
        color: $green;
        font-weight: 700;
        white-space: nowrap;
        margin-top: 2px;

        img {
            margin-right: 5px;
        }
    }

    &__progress {
        @include r(1279) {
            width: 100%;
            margin-left: 75px;
            margin-top: 10px;
        }

        @include r(1023) {
            margin-left: auto;
            margin-top: 0;
            width: auto;
        }

        @include r(767) {
            margin-top: 14px;
            width: 100%;
        }

        margin-left: auto;
    }

    .service__progress {
        &-item {
            @include r(1279) {
                @include fcs;
            }

            font-size: 10px;
            margin-right: 0;
            margin-left: 0;
            width: 100%;
            @include fce;
            margin-bottom: 2px;

            & > span {
                @include r(1279) {
                    font-size: 12px;
                    min-width: 170px;
                }

                @include r(767) {
                    font-size: 10px;
                    min-width: 137px;
                }

                white-space: nowrap;
                min-width: 137px;
                font-weight: 700;
                color: $gray2;
            }

            div {
                width: auto;

                span {
                    width: 20px;
                    height: 7px;
                }
            }
        }
    }

    &__body {
        @include r(767) {
            position: relative;
            padding-top: 59px;
        }

        padding: 12px 25px;

        .reviews__title {
            &:first-child {
                font-size: 16px;
            }
        }
    }

    &__controls {
        @include r(767) {
            display: block;

            .btn {
                width: 100%;
                text-align: center;
                padding-left: 0;
                padding-right: 0;
            }
        }

        @include fcsb;

        .btn-outline {
            @include r(767) {
                margin-left: 0;
                margin-top: 10px;
            }

            margin-left: 9px;
        }
    }

    &__date {
        @include r(767) {
            position: absolute;
            top: 20px;
            left: 22px;
        }

        font-weight: 700;
        color: $gray;
    }

    div.reviews__title {
        @include r(767) {
            font-size: 15px;
            width: 100%;
        }

        font-weight: 700;
        margin-bottom: 7px;
        line-height: 1.31;
    }

    &__text {
        @include r(767) {
            font-size: 13px;
        }

        margin-bottom: 16px;

        a {
            color: $blue;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
