.sale {
    padding: 21px 0;

    &__list {
        @include r(1023) {
            @include flexlist(10px);
        }

        @include flexlist(15px);
    }

    &__item {
        @include r(1023) {
            @include flexitem(33.33%, 10px);
        }

        @include r(767) {
            @include flexitem(50%, 10px);
        }

        @include flexitem(20%, 15px, 25px);
        background: #ffffff;
        box-shadow: 0px 0px 15px rgba(179, 184, 190, 0.35);
        padding-top: 12px;
        position: relative;
        text-align: center;

        &:hover .btn {
            background: $blue;
        }
    }

    &__trophy {
        position: absolute;
        top: 12px;
        left: 12px;
        color: $orange;
        font-weight: 700;
        font-size: 12px;

        .icon {
            fill: $orange;
            margin-right: 5px;
        }
    }

    &__top {
        @include fcc;
        padding-bottom: 11px;
        border-bottom: 1px dashed $gray;
        margin-bottom: 10px;

        img {
            width: 65px;
        }
    }

    &__name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 3px;
    }

    &__text {
        font-size: 12px;
        color: $gray2;
    }

    &__price {
        font-weight: 700;
        font-size: 30px;
    }

    &__date {
        font-size: 12px;
        color: $gray2;
        margin-bottom: 16px;
    }

    .btn {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}
