@media screen and (min-width: 769px) {
    .sale {
        .swiper-wrapper {
            @include r(1279) {
                @include flexlist(10px);
                width: calc(100% + 20px);
            }

            @include flexlist(15px);
            width: calc(100% + 30px);
        }

        .swiper-slide {
            @include r(1279) {
                @include flexitem(20%, 10px, 25px);
            }

            @include flexitem(20%, 15px, 25px);
            box-shadow: 0px 0px 15px rgba(179, 184, 190, 0.35);
            padding-top: 12px;
        }

        .swiper-pagination {
            display: none;
        }
    }
}

.sale {
    @include r(1023) {
        overflow: hidden;
    }

    padding: 21px 0;

    &__list {
        overflow: visible;

        &:not(.four) {
            @include r(1023) {
                min-height: 38.375px;
                height: auto !important;
            }
        }

        &.four {
            @include r(1023) {
                @include flexlist(10px);
            }

            @include r(767) {
                @include flexlist(1px);
            }

            @include flexlist(15px);

            .sale__item {
                @include r(1279) {
                    @include flexitem(33.33%, 15px, 25px);
                }

                @include r(1023) {
                    @include flexitem(50%, 10px, 25px);
                }

                @include r(767) {
                    @include flexitem(100%, 1px, 25px);
                }

                @include flexitem(25%, 15px, 25px);
            }
        }

        &.full {
            display: block;
            margin: 0;

            a {
                display: block;
                width: 100%;
                margin: 0 0 13px;
            }
        }
    }

    .swiper-slide {
        background: #ffffff;
        box-shadow: 0px 0px 15px rgba(179, 184, 190, 0.35);
        padding-top: 12px;
    }

    &__item {
        @include r(1023) {
            @include flexitem(33.33%, 10px);
        }

        @include r(767) {
            @include flexitem(50%, 10px);
        }

        @include flexitem(20%, 15px, 25px);
        background: #ffffff;
        box-shadow: 0px 0px 15px rgba(179, 184, 190, 0.35);
        padding-top: 12px;
        position: relative;
        text-align: center;

        &:hover {
            .btn {
                background: $blue;
            }
        }

        .btn {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }

    &__trophy {
        position: absolute;
        top: 12px;
        left: 12px;
        color: $orange;
        font-weight: 700;
        font-size: 12px;
        white-space: nowrap;

        .icon {
            fill: $orange;
            margin-right: 5px;
        }
    }

    &__top {
        @include fcc;
        padding-bottom: 11px;
        border-bottom: 1px dashed $gray;
        margin-bottom: 10px;

        img {
            width: 65px;
        }
    }

    &__name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 3px;
    }

    &__text {
        font-size: 12px;
        color: $gray2;
    }

    &__price {
        font-weight: 700;
        font-size: 30px;
    }

    &__date {
        font-size: 12px;
        color: $gray2;
        margin-bottom: 16px;
    }
}
