.service {
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(179, 184, 190, 0.35);
    padding: 24px;
    position: relative;

    &__wrap {
        @include r(1023) {
            overflow: hidden;
        }

        @include r(767) {
            h2 + a {
                display: none;
            }
        }

        padding: 37px 0;
    }

    &__list {
        overflow: visible;

        &.two-col {
            @include r(1279) {
                overflow: hidden;
                padding: 15px;
                margin: -15px;
            }

            @include r(767) {
                @include flexlist(1px);
                padding: 0;
                margin: 0;
                overflow: visible;
            }

            @include flexlist(15px);

            .service {
                @include r(767) {
                    @include flexitem(100%, 1px, 30px);
                }

                @include flexitem(50%, 15px, 30px);
            }
        }
    }

    &__top {
        @include fcn;
        margin-bottom: 9px;

        &:hover {
            div {
                color: $blue;
            }
        }

        & > img {
            margin-right: 12px;
            width: 63px;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33;
        padding-right: 30px;
        transition: $trans;
    }

    &__reviews {
        @include fcn;
        margin-bottom: 15px;

        &:hover {
            span {
                color: $orange;
            }
        }

        img {
            margin-right: 11px;
        }

        span {
            color: $gray2;
            font-size: 12px;
            transition: trans;
        }
    }

    &__text {
        @include r(767) {
            max-height: 105px;
        }

        max-height: 84px;
        @include ellipsis;
        line-height: 1.5;
        margin-bottom: 21px;
    }

    &__progress {
        @include r(767) {
            @include flexlist(1px);
            margin-bottom: 13px;
        }

        @include flexlist(13px);
        margin-bottom: 5px;

        &-item {
            @include r(767) {
                @include flexitem(100%, 1px, 6px);
            }

            @include flexitem(50%, 13px);
            @include fcn;

            &.orange {
                color: $text;

                span.fill {
                    background: $orange;
                }
            }

            img {
                width: 15px;
                flex-shrink: 0;
            }

            div {
                width: 100%;
                margin-left: 8px;
                @include fcn;

                span {
                    @include r(1279) {
                        width: 18px;
                    }

                    @include r(767) {
                        width: 32px;
                    }

                    width: 23px;
                    height: 10px;
                    background: $gray;
                    margin: 0 1px;
                    flex-shrink: 0;

                    &.fill {
                        background: $darkBlue;
                    }
                }
            }
        }
    }

    &__features {
        @include r(767) {
            margin-bottom: 15px;
        }

        color: $darkBlue;
        margin-bottom: 23px;

        div {
            @include fcn;

            span:first-child {
                font-weight: 700;
                margin-right: 5px;
            }
        }

        .icon {
            font-size: 17px;
            fill: $gray;

            &.active {
                fill: $darkBlue;
            }
        }
    }

    &__bottom {
        @include fcsb;

        span {
            color: $gray;

            &.active {
                color: #3660ab;
            }
        }

        label {
            font-size: 12px;
        }
    }

    &__icons {
        position: absolute;
        @include fcc;
        flex-direction: column;
        top: -1px;
        right: 24px;

        &-item {
            cursor: pointer;

            &.bookmark {
                &.active {
                    &:hover {
                        @include r(767) {
                            path {
                                fill: $orange;
                            }
                        }
                    }

                    path {
                        fill: $orange;
                    }
                }

                &:hover {
                    path {
                        @include r(767) {
                            fill: #fff;
                        }

                        fill: $orange;
                    }
                }

                @include r(767) {
                    &:hover {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }

            &.heart {
                &.active {
                    &:hover {
                        @include r(767) {
                            path {
                                fill: $darkBlue;
                            }
                        }
                    }

                    path {
                        fill: $darkBlue;
                    }
                }

                &:hover {
                    path {
                        fill: $darkBlue;
                    }
                }

                @include r(767) {
                    &:hover {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }

            path {
                transition: $trans;
                fill: transparent;
            }
        }
    }

    &__controls {
        @include r(1023) {
            margin-top: 30px;
        }

        @include fcsb;

        .swiper-pagination {
            margin-top: 0;
            text-align: left;
        }

        a {
            @include r(767) {
                color: $orange;
                font-weight: 700;
                display: inline-block;
                flex-shrink: 0;
                text-decoration: underline;
            }

            display: none;
        }
    }
}
