.sidebar {
    width: 270px;
    flex-shrink: 0;
    margin-left: 30px;

    &.pd {
        .sidebar__item {
            padding: 12px 16px;
        }
    }

    .btn {
        &.full {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            text-align: center;
            margin-bottom: 21px;
        }

        &.btn-download {
            margin-left: -27px;
            width: calc(100% + 54px);
            margin-bottom: -18px;
        }
    }

    &__item {
        border: 1px solid #b3b8be;
        padding: 17px 26px;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }

        a:not([class]) {
            transition: $trans;

            &:hover {
                color: $orange;
            }
        }

        .btn.center {
            margin-top: 27px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;

        &.sm {
            font-size: 14px;
        }
    }

    &__group {
        padding-bottom: 9px;
        margin-bottom: 9px;
        border-bottom: 1px solid #b3b8be;

        &.bd-0 {
            border: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    .form-group {
        margin-bottom: 4px;

        &.checkbox {
            margin-bottom: 8px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        label {
            @include fcsb;
            width: 100%;
            color: $text;

            span {
                color: $gray2;
                font-size: 12px;
                align-self: flex-start;
            }
        }
    }

    input[type='checkbox'] {
        width: 14px;
        height: 14px;
        margin-top: 3px;
        background-color: transparent;
        border: 1px solid #b3b8be;

        &:checked {
            background-color: #b3b8be;
        }
    }

    &__hide {
        display: none;
    }

    &__text {
        line-height: 1.3;
        margin-bottom: 12px;

        &.sm {
            font-size: 10px;
            margin-top: 5px;
        }
    }

    .materials__img {
        margin: 0 auto 15px;
    }

    .book {
        margin-bottom: 14px;
    }

    .similar {
        padding: 0;
    }

    &__banner {
        margin-bottom: 30px;
    }
}
